<div>
    <div style="float: right; padding:20px">
        <H2>Login</H2>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" name="userName" [(ngModel)]="username">
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password">
        </mat-form-field>
        <br>

        <button mat-flat-button color="primary" (click)="login()">Login</button>
    </div>
</div>