ul {
    border: 1px solid;
    width: 300px;
    padding: 5px;
    margin: 5px;
}

li {
    list-style:  none;
    padding: 5px;
    margin: 5px;
    border: 1px solid;

}

img {
    width: 150px;
    height: 150px;
}

.detalisContainer {
    float: left;
}